

.BGcontacts{
    width: 90px;
    height: 90px;
    background-color: #ebf0f5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow-x: hidden;
    display: flex; 
    justify-content: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
}

.BGcontacts > img{
    width: 50px;
    margin: 20px;
}

#BGmail, #BGlinkedin, #BGgit{
    width: 90px;
    height: 90px;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#BGmail:hover{
    width: 325px;
    height: 90px;
}

#BGgit:hover{
    width: 220px;
    height: 90px;
}

#BGlinkedin:hover{
    width: 250px;
    height: 90px;
}