.holdImg-carrousel{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    transition: all 2s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow: hidden;
}

.cache_carrousel{
    height: 200px; width: 100px; z-index: 10;
}

.img-carrousel{
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);    
}

.img-carrousel:hover{
    transform:scale(1.1)
}