.color1{
    background-color: #ebf0f5;
    fill: #ebf0f5;
}
.color1-text{
    color: #ebf0f5;
}

.color2{
    background-color: #06509B;
    fill: #06509B;
}

.color2-text{
    color: #06509B;
}

.color3{
    background-color: #0f96da;
    fill: #0f96da;
}

.color3-text{
    color: #0f96da;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #1d1d1d;
    overflow-x: hidden;
    overflow-y: hidden;
}

#main {
    /*scroll-snap-type: y proximity;*/
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}

.sectionPage {
    position: relative;    
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow: visible;
    padding: 0 0 0 0;
    flex-direction: column;
}

.background{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: -1;
    pointer-events: none;
    display: flex;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.grand-text {
    font-size: 4.5em;
}

.underline-blue {
    display: inline-block;
    position: relative;
}

.underline-blue::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-color: #0f96da;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-blue:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
